<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2>記事詳細ページ</h2>
    <h3>投稿者</h3>
    <small>{{ article.author.username }}</small>
    <h3>タイトル</h3>
    <p>{{ article.title }}</p>
    <h3>投稿日時</h3>
    <small>{{ article.posted_at }}</small>
    <h3>本文</h3>
    <div>
        {{ article.body | linebreaksbr }}
        <hr>
        <h3>コメント</h3>

        <form action="{% url 'detail' article.id %}" method="post">
          {% csrf_token %}
          <div>
            <label for="textInput">文章</label>
            <textarea id="textInput" name="text" rows="3"></textarea>
          </div>
          <div>
            <button type="submit">投稿</button>
          </div>
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div>
          <div>
            <small>[{{ comment.posted_at }}][{{ comment.author.username }}]</small>
          </div>
          <div>
            {{ comment.text | linebreaksbr }}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No comment.</p>
        {% endif %}
    </div>

    <p><a href="{% url 'update' article.id %}">記事の編集</a></p>
    <p><a href="{% url 'home' %}">トップページ</a></p>
    <form action="{% url 'delete' article.id %}" method="post">
      {% csrf_token %}
      <button type="submit">記事を削除</button>
    </form>

  </body>
</html>